
<!-- usto il seguente link -->
<!-- https://mdbootstrap.com/docs/angular/navigation/footer/ -->
<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="h5-footer font-weight-bold text-uppercase mt-3 mb-4">Social</h5>

          <ul class="list-unstyled">
            
              <app-facebook-share></app-facebook-share>
           
              <app-instagram-share></app-instagram-share>
            
              <app-twitter-share></app-twitter-share>
            
              
            
          </ul>
          <!-- Qui andranno quelle che saranno le icone -->
          <!--  -->

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="h5-footer font-weight-bold text-uppercase mt-3 mb-4">Su di noi</h5>

          <ul class="list-unstyled">
            <li>
                <a class="a-footer" href="#!">Su di noi</a>
            </li>
            <li>
              <a class="a-footer" href="#!">Regolamenti</a>
            </li>
            <li>
              <a class="a-footer" href="#!">Franchise</a>
            </li>
            <li>
              <a class="a-footer" href="#!">FAQ</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="h5-footer font-weight-bold text-uppercase mt-3 mb-4">Red Burger</h5>

          <ul class="list-unstyled">
            <li>
              <a class="a-footer" href="#!">Contattaci</a>
            </li>
            <li>
              <a class="a-footer" href="#!">Lavora con noi</a>
            </li>
            <li>
              <a class="a-footer" href="#!">Orari</a>
            </li>
            <li>
              <a class="a-footer" href="#!">Ristoranti</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="h5-footer font-weight-bold text-uppercase mt-3 mb-4">Policy</h5>

          <ul class="list-unstyled">
            <li>
              <a class="a-footer" href="#!">Privacy</a>
            </li>
            <li>
              <a class="a-footer" href="#!">Termmini e Condizioni</a>
            </li>
            <li>
              <a class="a-footer" href="#!">Cookies</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 Copyright">© 2021 Copyright:
      <a href="https://wiki.pokemoncentral.it/Rosso_(gioco)"> MDJ BURGER</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
