<div class="logoTitolo">
    <div class="logoContainer">
        <img src="../../assets/menu-img/logo-bianco-e-nero.png" alt="" class="logo-img">
    </div>
    <br>
    <h1 class="titolo">MDJ Burgers<small class="slogan"> - Il panino divino</small></h1>
    
    <div class="paragrafi">
        <h5>Come tutto ebbe inizio</h5>
        <p class="par1">
            La catena di fastfood MDJ Burger nasce nel lontano 1939 negli USA.
            Mathew Whitesnow, Darryl Bigchin e Junior Stranger erano tre amici che passavo le giornate a truffare gli anziani.
            <br>
            Durante tutto il Giugno del 1939 ebbero la sfortuna di non fare neanche una sola truffa e in metà mese avevano finito tutte le loro scorte.
            <br>
            La disperazione prese il sopravvento nel gruppo ma Junior ebbe l'idea che cambio per sempre la loro storia. continua...
        </p>
        <p class="par2">
           
        </p>
        
    </div>
</div>

