.container{
    width: 80%;
    
    display: flex;
    flex-direction:row;
}

.elenco-categorie{
    display: flex;
    flex-direction:column;
    
    width: 20%;
}

.titolo-e-prodotti{
    width: 80%;
    display: flex;
    flex-direction:column;
}
.titolo{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    // text-size-adjust: auto;
}
.bottone-top-categoria{
    margin-top: 10px;
}

.bottone-categoria{
    background-color: #B1A7A6;
    margin-bottom: 2px;
}

.bottone-aggiungi{
    background-color: #E5383B;
}