<div class="container-component-prodotti">
    <!-- con il codice sotto la visualizzazione dei bottoni per le categorie è dinamica in base a quanti 
    elementi sono contenuti in Mock_ElencoCategorie -->
    <div class="div-elenco-categorie">
        <button class="button-seleziona-categoria" *ngFor="let categoria of Mock_ElencoCategorie" (click)="stampaCategoria(categoria)">
            <span class="span-categoria"><b>{{categoria}}</b></span> 
        </button>
    </div>

    <!-- con il codice sotto la visualizzazione dei prodotti è dinamica in base a quanti sono i prodotti 
    presenti in Mock_ElencoProdotti -->
    <div class="div-elenco-prodotti">
        <!-- *ngFor crea per ogni elemento dentro l'array Mock_ElencoProdotti un div contenente tutto -->
        <div class="div-prodotto" *ngFor="let prodotto of Mock_ElencoProdotti" (mouseenter)="changeToButton(prodotto)" (mouseleave)="changeToNormal(prodotto)"  >
            <div class="div-immagine-prodotto">
                <img class="img-prodotto" [src]="prodotto.getBlob()" [alt]="prodotto.getName()">
            </div>
            <div class="div-nome-button-aggiungi-prodotto" (click)="aggiungiSuCarrello(prodotto)">
                <!-- <span class="span-nome-prodotto">{{prodotto.getName()}}</span>  -->
                <div id="{{prodotto.getName()}}">{{prodotto.getName()}}</div> 
                <!-- <span class="span-button-aggiungi-prodotto">aggiungi</span>  -->

            </div>   
        </div>
    </div>
    
</div>


