@font-face {
    font-family: 'burgerFont';
    src: url('../../assets/Insanibc.ttf') format('truetype');
}

.container-component-prodotti{
    width: 100%;
    height: auto;
    // background-color: rgb(180, 201, 219);
    margin: 0 auto;
    padding-top: 1rem ;
    display: flex;
    flex-direction: row;
    font-family: "burgerFont";

}
//---------Inizio tutto Categorie
.div-elenco-categorie{
    width: 20%;
    height: auto;
    // background-color: red;
    display: flex;
    flex-direction: column;
    padding-top: 20px; //mi serve per avere distanziare il div dal logo in alto
    padding-bottom: 20px;
}

.button-seleziona-categoria{
    width: 80%;
    height: 5rem;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px 7px 7px 7px;
    background-color: #F5F3F4
}

.button-seleziona-categoria:hover{
    background-color: #D3D3D3
}
.span-categoria{
    font-size: 1.2em;
    letter-spacing: 0.5px;
}
//----------Fine Tutto Categorie
//----------Inizio Tutto Prodotti
.div-elenco-prodotti{
    width: 80%;
    padding: 20px;
    height: auto;
    // background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; //questo serve per vedere l'elenco stile grid
}

.div-prodotto{
    width: 23%;
    height: 315px;
    border-color: black;
    border-style:solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 2px;
    // background-color: blueviolet;
    display: flex;
    flex-direction:column;
    position: relative; //mi è servito per rendere il bottone posizionato in basso
    min-width: 190px;
    font-size: 1.3rem;
}


.div-immagine-prodotto{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-prodotto{
    width: 180px;
    transition: all 0.5s ease;
}

.real-description {
    flex-direction: column;
}

.div-prodotto:hover  .img-prodotto{
    transform: scale(1.25); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.span-nome-prodotto{
    
    margin: 0 auto;
    vertical-align:top;
    text-align: center;
    // font-family: ???;
    // font-size: ??;
}

.div-nome-button-aggiungi-prodotto{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30%;
    margin: 10%;
    margin-top: 10px;
    border-radius: 0.5rem ;
    // background-color:  #BA181B;
    position: absolute; //
    bottom: 0;          // mi sono serviti entrambi per mettere in bottone in basso 
                        // assieme al position: relative; di .div-prodotto
    
}

.div-bottone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border-color: #161A1D;
    background-color: #161A1D !important;
    cursor: pointer;
    
}


