<div class="container">
    <div class="elenco-categorie">
        <button class="bottone-categoria bottone-top-categoria"mat-button>Panini</button>  
        <button class="bottone-categoria"mat-button>Insalate</button>
        <button class="bottone-categoria"mat-button>Sfiziosità</button>
        <button class="bottone-categoria"mat-button>Bitite</button>
        <button class="bottone-categoria"mat-button>Salse</button>
    </div>
    <div class="div-titolo-e-prodotti">
        <p class="titolo"><b> I nostri prodotti</b></p>
        <div class="div-prodotti">
            <div class="div-prodotto">
                <p class="nome-prodotto">Big Bro Burger</p>
                <img class="img-prodotto" src="../../assets/prodotti/panini/big-bro_isolated.png" alt="qualcosa">
                <button class="bottone-aggiungi" mat-button>Aggiungi</button>  
            </div>
        </div>
    </div>
</div>