
<div class="cart-container">
    <div class="title">
        <p class="textTitle">RIEPILOGO CARRELLO</p>
    </div>
    <div class="container">

        <button (click)="addProduct()">ADD</button>
    
        <!-- div uguale ad ogni prodotto -->
        <div *ngFor="let product of products | keyvalue">
    
            <div class="productContainer">
                <p>{{product.key.getName()}}</p> <!-- product.name -->
                <p>{{product.key.getPrice()}}</p>
                <p>{{product.value}}</p>    <!-- Nient'altro che il numero di prodotti di quel tipo presente nel carrello -->
                <p>{{product.key.getType()}}</p>
                <!-- <p>{{product.}}</p> -->
                <img src="../../assets/img_home/panino-spongebob.png" alt="productImg"> <!-- product.img -->
                <button (click)="deleteProduct(product.key)">DELETE</button>
                <mat-divider></mat-divider>
            </div>
        </div>

    </div>
    <div class="subtotal">
        <p class="textSubtotal">TOTALE: {{calcSubtotal() | number : '1.0-2'}}</p>  <!-- pipe per formattare a deguatamente i numeri visualizzati -->
    </div>
</div>

