
.header {
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #161a1d;
    // border: 4px solid black;
    //display: block;
    position: fixed;
    z-index: 1;
}

.home {
    // height: 100%;
    width: 100%;
    margin-top: 99px;
    min-height: 60%;
    // background-color: green;
    // border: 2px solid black;
    display: block;
    // position: fixed;
}

.footer {
    // height: 20%;
    width: 100%;
    // background-color: yellow;
    // border: 2px solid black;
    display: block;
    // position: fixed;
    // position: absolute;
    // bottom: 0;
    // width: 100%;
}

// #footer {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 2.5rem;            /* Footer height */
//   }

// .side-nav {
//     margin-top: 99px;
//     width: 100%;
//     background-color: #161a1d;
//     // border: 4px solid black;
//     //display: block;
//     position: fixed;
//     z-index: 1;
//     height: 100vh;
// }