
<div class="header">
   
    <div class="icon">
        <img src="../../assets/menu-img/logo-bianco-e-nero.png" alt="logo" routerLink="/homepage">
    </div>

    <div class="menu">
        <div class="menuButton" matRipple [matRippleCentered]="true"> CHI SIAMO </div>
        <div class="menuButton" matRipple [matRippleCentered]="true"> PRODOTTI </div>
        <div class="menuButton" matRipple [matRippleCentered]="true"> CONTATTACI </div>
        <div class="menuButton" matRipple [matRippleCentered]="true"> TROVACI </div>
        <button mat-icon-button color="black" aria-label="Example icon button with a plus one icon">
            <mat-icon class="cart">shopping_cart</mat-icon>
        </button>
    </div>

    <!-- [matRippleCentered]="centered"
                [matRippleDisabled]="disabled"
                [matRippleUnbounded]="unbounded"
                [matRippleRadius]="radius"
                [matRippleColor]="color"> -->

</div>