

.order{
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-image: url(../../../assets/img_home/Senza-titolo-2-prova.png);
    // background-size: cover;
    // background-repeat: no-repeat;
    background-color: rgb(250, 190, 223);

}

.text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 200px;
    margin: 50px 50px 50px 150px;
}

.title{
    font-family: sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: black;
}

.first-message{
    margin-top: 20px;
    padding-right: 50px;
}


.link{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    
}

.download-app{
    margin-top: 30px;
}

.app-store{
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.google-play{
    width: 100px;
    height: auto;
}

.second-message{
    margin-top: 20px;
    padding-right: 50px;
}