<div class="order">
    
    <div class="text">
        <div class="title">
            Fucking Krabby Patty, with the one and only CRAB patty.
        </div>
        <div class="first-message">
                Get a FREE medium fry with any premium sandwich
                 purchase with the offer in our app. Not gonna lie, 
                 following our Bourbon Bacon Cheeseburger isn’t easy. 
                 But if anything can do it and do it well, 
                 it’s our fries—especially when they’re free.
        </div>
        <div class="link">
            START YOUR ORDER
        </div>
        <div class="download-app">
    
             <img class="app-store" src="../../../assets/img_home/AppleStore.png" >
             <img class="google-play" src="../../../assets/img_home/GooglePlay.png" >
            
        </div>
        <div class="second-message">
            Offer valid for a limited time only at participating U.S. Dario's. Offer must be redeemed
            via the Dario's App. Account registration required. 
        </div>
    </div>

</div>
