<div class="order">
    <div>
        <h2>Bourbon Bacon with a FREE fry chaser.</h2>
        <div>
            <p>
                Get a FREE medium fry with any premium sandwich
                 purchase with the offer in our app. Not gonna lie, 
                 following our Bourbon Bacon Cheeseburger isn’t easy. 
                 But if anything can do it and do it well, 
                 it’s our fries—especially when they’re free.
            </p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=_wRTVvber5I%22%3Estart your order">Start Your Order</a>
        </div>
        <div class="download-app">
    
             <img class="app-store" src="../../../assets/img_home/AppleStore.png" >
             <img class="google-play" src="../../../assets/img_home/GooglePlay.png" >
            
        </div>
        <div>
            Offer valid for a limited time only at participating U.S. Dario's. Offer must be redeemed
            via the Dario's App. Account registration required. 
        </div>
    </div>
</div>
