h1{
    background-color: grey;
}

:host {
    // height: 110%; 
    width: 100%;
    margin-top: 130px;
    background-color: green;
    border: 2px solid black;
    display: block;
    // position: fixed;
}