<div class="contenitore-geerale" >
    <div>
        <h2>Bourbon Bacon with a FREE fry chaser.</h2>
        <div>
            <p>
                Get a FREE medium fry with any premium sandwich
                 purchase with the offer in our app. Not gonna lie, 
                 following our Bourbon Bacon Cheeseburger isn’t easy. 
                 But if anything can do it and do it well, 
                 it’s our fries—especially when they’re free.
            </p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=_wRTVvber5I">start your order</a>
        </div>
        <div class="download-app">
            <div class="app-store">

            </div>
            <div class="google-play">

            </div>
        </div>
        <div>
            Offer valid for a limited time only at participating U.S. Dario's. Offer must be redeemed
            via the Dario's App. Account registration required. 
        </div>
    </div>
    <div class="carosello">
        Qui verranno visualizzate le immagini a scorrimento
    </div>
</div>