// .contenitore-geerale{
//     background-color: gray;
// }

// .carosello{
    // }
    
h1{
    background-color: lightblue;
}

.container{
    
    width: 100vw;
    height: 100%;
    background-color: lightcoral;
    
}

// :host {
//     height: 100%;
//     width: 100%;
//     background-color: green;
//     border: 2px solid black;
//     display: block;
//     // position: fixed;
// }